:root{
    --color-primary: #00640056;
    --color-primary-dark: #013001;

    --color-secondary: #1f8b11;
    --color-secondary-dark: #2E7D32;
    
    --color-gray-light: #E0E0E0;
    --color-gray: #3b3a3a;
    --color-gray-dark: #424242;

}